BibliotecaViva/API/bin
BibliotecaViva/API/obj
BibliotecaViva/BLL/bin
BibliotecaViva/BLL/obj
BibliotecaViva/DAL/bin
BibliotecaViva/DAL/obj
BibliotecaViva/DAO/bin
BibliotecaViva/DAO/obj
BibliotecaViva/DTO/bin
BibliotecaViva/DTO/obj